/.idea
Homestead.json
Homestead.yaml
.env

### MAC ###
*.DS_Store
.DS_Store
.AppleDouble
.LSOverride

# test
### other ###
._*
Desktop.ini
Thumbs.db
.Spotlight-V100
.Trashes
*.pyc
*.out
venv
node_modules
.sass-cache
.vscode/
.githooks/
