### Typo3 ###
# Ignore Constants.ts
/fileadmin/template/TypoScript/Constants.ts

# Ignore cache folders
/typo3temp/*
/fileadmin/_processed_/
/fileadmin/_temp_/

# Ignore cache
/typo3conf/temp_CACHED*
/typo3conf/temp_fieldInfo.php
/typo3conf/deprecation_*.log
/typo3conf/ENABLE_INSTALL_TOOL

# Ignore system folders, you should have them symlinked.
# If not comment out the following entries.
/typo3/typo3/
/typo3_src/
/index.php
/uploads/
