.row-fluid { float: left; }

body { height: auto; position: relative; }
.successful, .success, .warning, .error { float: left; display: block; font-size: 14px; margin: 2px 0; padding: 10px; width: 100%; }
.successful, .success { background-color: green; color: #fff; }
.warning { background-color: orange; color: #000; }
.error { background-color: red; color: #000; }

@media screen and (min-width: 1333px) {
  .no-touch #header h1 { position: fixed; top: 0; }
  .no-touch #sidebar { position: fixed; }
}

.btn-wrapper { margin-left: 16px; }
.btn-wrapper button { margin: 4px; }
#form-create-installfile .form-actions { background: none; font-size: 100%; margin: 0; padding: 0; }
#form-create-installfile .info { background-color: #fff; padding: 10px; }
#form-create-installfile .info > span { width: calc(100% - 20px); }
@media screen and (min-width: 950px) {
  .btn-wrapper { position: absolute; top: -1px; right: 20px; }
  #form-create-installfile .form-actions button { float: right; }
  #form-create-installfile .info { box-shadow: 1px 3px 7px 1px; max-width: 280px; position: absolute; top: 100%; right: 0; }
}



#list-typo3-sources ul li { list-style: none; }

#form-delete-typo3source .select2-container { margin-bottom: 10px; margin-left: 20px; margin-top: 8px; }
#form-delete-typo3source > p { margin-bottom: 10px; margin-left: 20px; }
#form-delete-typo3source select { margin-left: 20px; min-width: 280px; width: 80%; }

/* Checkbox */
.control { cursor: pointer; display: block; margin-bottom: 5px; padding-left: 30px; position: relative; }
.control input { position: absolute; opacity: 0; z-index: -1; }
.control__indicator { background: #e6e6e6; height: 18px; left: 0; position: absolute; top: 2px; width: 18px; }
.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator { background: #ccc; }
.control input:checked ~ .control__indicator { background: #2aa1c0; }
.control:hover input:not([disabled]):checked ~ .control__indicator,
  .control input:checked:focus ~ .control__indicator { background: #0e647d; }
.control input:disabled ~ .control__indicator { background: #e6e6e6; pointer-events: none; opacity: 0.6; }
.control__indicator:after { content: ''; display: none; position: absolute; }
.control input:checked ~ .control__indicator:after { display: block; }
.control--checkbox .control__indicator:after { border: solid #fff; border-width: 0 2px 2px 0; height: 6px;
  left: 7px; top: 4px; width: 2px; transform: rotate(45deg); }
.control--checkbox input:disabled ~ .control__indicator:after { border-color: #7b7b7b; }

.js .deploy-readme { display: none; }

/* css loader animation from: http://codepen.io/endodoug/pen/ecBkL */
.socket{ background-color: rgba(0,0,0,0.7); display: none; width: 100%; height: 100%; position: fixed; left: 0; top: 0; }
.hex-brick{ background: #ABF8FF; width: 30px; height: 17px; position: absolute; top: 5px;
  animation-name: fade;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite; }
.gel{ height: 30px; width: 30px; position: absolute; top: 50%; left: 50%;
  transition: all .3s;
  -webkit-transition: all .3s; }
.center-gel{ margin-left: -15px; margin-top: -15px;
  animation-name: pulse;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  -webkit-animation-name: pulse;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite; }
.c1{ margin-left: -47px; margin-top: -15px; }
.c2{ margin-left: -31px; margin-top: -43px; }
.c3{ margin-left: 1px; margin-top: -43px; }
.c4{ margin-left: 17px; margin-top: -15px; }
.c5{ margin-left: -31px; margin-top: 13px; }
.c6{ margin-left: 1px; margin-top: 13px; }
.c7{ margin-left: -63px; margin-top: -43px; }
.c8{ margin-left: 33px; margin-top: -43px; }
.c9{ margin-left: -15px; margin-top: 41px; }
.c10{ margin-left: -63px; margin-top: 13px; }
.c11{ margin-left: 33px; margin-top: 13px; }
.c12{ margin-left: -15px; margin-top: -71px; }
.c13{ margin-left: -47px; margin-top: -71px; }
.c14{ margin-left: 17px; margin-top: -71px; }
.c15{ margin-left: -47px; margin-top: 41px; }
.c16{ margin-left: 17px; margin-top: 41px; }
.c17{ margin-left: -79px; margin-top: -15px; }
.c18{
margin-left: 49px;
margin-top: -15px;
}
.c19{
margin-left: -63px;
margin-top: -99px;
}
.c20{
margin-left: 33px;
margin-top: -99px;
}

.c21{
margin-left: 1px;
margin-top: -99px;
}

.c22{
margin-left: -31px;
margin-top: -99px;
}

.c23{
margin-left: -63px;
margin-top: 69px;
}

.c24{
margin-left: 33px;
margin-top: 69px;
}

.c25{
margin-left: 1px;
margin-top: 69px;
}

.c26{
margin-left: -31px;
margin-top: 69px;
}

.c27{
margin-left: -79px;
margin-top: -15px;
}

.c28{
margin-left: -95px;
margin-top: -43px;
}

.c29{
margin-left: -95px;
margin-top: 13px;
}

.c30{
margin-left: 49px;
margin-top: 41px;
}

.c31{
margin-left: -79px;
margin-top: -71px;
}

.c32{
margin-left: -111px;
margin-top: -15px;
}

.c33{
margin-left: 65px;
margin-top: -43px;
}

.c34{
margin-left: 65px;
margin-top: 13px;
}

.c35{
margin-left: -79px;
margin-top: 41px;
}

.c36{
margin-left: 49px;
margin-top: -71px;
}

.c37{
margin-left: 81px;
margin-top: -15px;
}

.r1{
animation-name: pulse;
animation-duration: 2s;
animation-iteration-count: infinite;
animation-delay: .2s;
-webkit-animation-name: pulse;
-webkit-animation-duration: 2s;
-webkit-animation-iteration-count: infinite;
-webkit-animation-delay: .2s;
}

.r2{
animation-name: pulse;
animation-duration: 2s;
animation-iteration-count: infinite;
animation-delay: .4s;
-webkit-animation-name: pulse;
-webkit-animation-duration: 2s;
-webkit-animation-iteration-count: infinite;
-webkit-animation-delay: .4s;
}

.r3{
animation-name: pulse;
animation-duration: 2s;
animation-iteration-count: infinite;
animation-delay: .6s;
-webkit-animation-name: pulse;
-webkit-animation-duration: 2s;
-webkit-animation-iteration-count: infinite;
-webkit-animation-delay: .6s;
}

.r1 > .hex-brick{
animation-name: fade;
animation-duration: 2s;
animation-iteration-count: infinite;
animation-delay: .2s;
-webkit-animation-name: fade;
-webkit-animation-duration: 2s;
-webkit-animation-iteration-count: infinite;
-webkit-animation-delay: .2s;
}

.r2 > .hex-brick{
animation-name: fade;
animation-duration: 2s;
animation-iteration-count: infinite;
animation-delay: .4s;
-webkit-animation-name: fade;
-webkit-animation-duration: 2s;
-webkit-animation-iteration-count: infinite;
-webkit-animation-delay: .4s;
}

.r3 > .hex-brick{
animation-name: fade;
animation-duration: 2s;
animation-iteration-count: infinite;
animation-delay: .6s;
-webkit-animation-name: fade;
-webkit-animation-duration: 2s;
-webkit-animation-iteration-count: infinite;
-webkit-animation-delay: .6s;
}


@keyframes pulse{
0%{
	-webkit-transform: scale(1);
	transform: scale(1);
}

50%{
	-webkit-transform: scale(0.01);
	transform: scale(0.01);
}

100%{
	-webkit-transform: scale(1);
	transform: scale(1);
}
}

@keyframes fade{
0%{
	background: #ABF8FF;
}

50%{
	background: #90BBBF;
}

100%{
	background: #ABF8FF;
}
}

@-webkit-keyframes pulse{
0%{
	-webkit-transform: scale(1);
	transform: scale(1);
}

50%{
	-webkit-transform: scale(0.01);
	transform: scale(0.01);
}

100%{
	-webkit-transform: scale(1);
	transform: scale(1);
}
}

@-webkit-keyframes fade{
0%{
	background: #ABF8FF;
}

50%{
	background: #389CA6;
}

100%{
	background: #ABF8FF;
}
}
