.successful, .success, .warning, .error { float: left; display: block; font-size: 14px; margin: 2px 0; padding: 10px; width: 100%; }
.successful, .success { background-color: green; color: #fff; }
.warning { background-color: orange; color: #000; }
.error { background-color: red; color: #000; }

#list-typo3-sources ul li { list-style: none; }

/* Checkbox */
.control { cursor: pointer; display: block; margin-bottom: 5px; padding-left: 30px; position: relative; }
.control input { position: absolute; opacity: 0; z-index: -1; }
.control__indicator { background: #e6e6e6; height: 18px; left: 0; position: absolute; top: 2px; width: 18px; }
.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator { background: #ccc; }
.control input:checked ~ .control__indicator { background: #2aa1c0; }
.control:hover input:not([disabled]):checked ~ .control__indicator,
  .control input:checked:focus ~ .control__indicator { background: #0e647d; }
.control input:disabled ~ .control__indicator { background: #e6e6e6; pointer-events: none; opacity: 0.6; }
.control__indicator:after { content: ''; display: none; position: absolute; }
.control input:checked ~ .control__indicator:after { display: block; }
.control--checkbox .control__indicator:after { border: solid #fff; border-width: 0 2px 2px 0; height: 6px;
  left: 7px; top: 4px; width: 2px; transform: rotate(45deg); }
.control--checkbox input:disabled ~ .control__indicator:after { border-color: #7b7b7b; }
